<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">

        <!-- Override AD_SERVICES_CONFIG conflict between play-services-ads-lite
             and play-services-measurement-api -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource"/>

    </application>
</manifest>
